/node_modules
/old_node_modules

actionFinder.py
filterFinder.py

config.codekit3

.ftpssh_settings
.ftpquota
.DS_Store
.project
.buildpath
.htaccess
.settings
.revision
database.sql
/*.sql
.sucuriquarantine
/sql/
/robots.txt
.errordocs/

.qidb/
php_mail.log

php.ini*


# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
*.zip
