/**
 * Public CSS
 *
 * This file is used to add styles to the public display of the plugin.
 *
 * @link       http://www.wpdispensary.com
 * @since      1.0.0
 *
 * @package    WP_Dispensary
 * @subpackage WP_Dispensary/public/css
 */
 
.wpdispensary-widget {
    display: inline-block;
	margin: 12px 0;
	max-width: 100%;
    position: relative;
	width: 100%;
}

.wpdispensary-widget:first-child {
	margin-top: 0;
}

.wpdispensary-widget:last-child {
	margin-bottom: 0;
}

.wpdispensary-widget img {
	height: auto;
    margin-bottom: 12px;
	width: 100%;
}

span.wpdispensary-widget-title {
    font-size: 16px;
	font-weight: 600;
	line-hehgit: 1.2;
}

span.wpdispensary-widget-categories {
    float: right;
	font-size: 13px;
    font-weight: 600;
	line-height: 1.2;
}

span.wpdispensary-widget-categories a,
span.wpdispensary-widget-categories a:visited {
    background: #EEE;
    border-radius: 15px;
    color: #AAA;
    display: inline-block;
    padding: 5px 10px;
}

span.wpdispensary-widget-categories a:hover {
	color: #454545;
}

ul.wpdispensary-list li:before {
    color: #454545;
    content: "\f105";
    font-family: 'FontAwesome';
    margin-right: 6px;
    -webkit-font-smoothing: antialiased;
}

/* Shortcodes */

.wpdispensary {
    float: left;
    position: relative;
    width: 100%;
}

.wpdshortcode {
    float: left;
    margin: 12px 0;
    width: 31.333%;
}

.wpdshortcode:nth-child(3n+3) {
	margin: 12px 3%;
}

.wpdshortcode p {
	margin: 12px 0 0 0;
}

.wpdshortcode span.wpd-pricing,
.wpdshortcode span.wpd-thc,
.wpdshortcode span.wpd-productinfo {
	color: #AAA;
	font-size: 13px;
}

table.wpdispensary-table {
	border-width: 1px;
	font-size: 14px;
	line-height: 1.2;
	margin: 12px 0;
	table-layout: unset;
	width: 100%;
}

table.wpdispensary-table td.wpdispensary-title {
	background: #F1F1F1;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #454545;
	font-weight: 600;
	text-align: center;
}

table.wpdispensary-table td {
	border: 1px solid #DDD;
	padding: 10px;
	width: 50%;
}

table.wpdispensary-table.pricing td {
	color: #76BD1D;
	width: auto;
}

table.wpdispensary-table.pricing td.wpdispensary-title {
	color: #454545;
}

table.wpdispensary-table.pricing tr.priceeach td {
	width: 50%;
}

table.wpdispensary-table td span {
	color: #454545;
	font-weight: 600;
	margin-right: 10px;
}

.ingredientlist {
	border: 1px solid #DDD;
	float: left;
	font-size: 15px;
	line-height: 18px;
	margin-top: 24px;
	width: 100%;
}

.ingredientlist span {
	display: inline-block;
	padding: 10px;
}

.ingredientlist strong {
	background: #DDD;
	color: #454545;
	display: block;
	font-weight: 600;
	padding: 10px;
}

.wpdispensary-table.single {
	margin: 24px 0;
}


/* Mobile responsive CSS */

@media screen and (max-width: 1199px) {

	.wpdispensary-widget {
		max-width: 31.333%;
		margin: 12px 1%;
	}

}

@media screen and (max-width: 900px) {

	.wpdispensary-widget {
		max-width: 48%;
		margin: 12px 1%;
	}

}

@media screen and (max-width: 600px) {

	.wpdispensary-widget {
		max-width: 98%;
		margin: 12px 1%;
		width: 98%;
	}
	
	.wpdshortcode,
	.wpdshortcode:nth-child(3n+3) {
		margin: 12px 0;
		width: 100%;
	}

}