/**
 * Public CSS
 *
 * This file is used to add styles to the public display of the plugin.
 *
 * @link       https://www.wpdispensary.com
 * @since      1.0.0
 *
 * @package    WP_Dispensary
 * @subpackage WP_Dispensary/public/css
 */

.wpdispensary-widget {
  display: inline-block;
  margin: 12px 0;
  max-width: 100%;
  position: relative;
  width: 100%;
}

.wpdispensary-widget:first-child {
  margin-top: 0;
}

.wpdispensary-widget:last-child {
	margin-bottom: 0;
}

.wpdispensary-widget img {
	height: auto;
  margin-bottom: 12px;
	width: 100%;
}

span.wpdispensary-widget-title {
  font-size: 16px;
	font-weight: 600;
	line-height: 1.2;
}

span.wpdispensary-widget-categories {
  float: right;
	font-size: 13px;
  font-weight: 600;
	line-height: 1.2;
}

span.wpdispensary-widget-categories a,
span.wpdispensary-widget-categories a:visited {
  background: #EEE;
  border-radius: 15px;
  color: #AAA;
  display: inline-block;
  padding: 5px 10px;
}

span.wpdispensary-widget-categories a:hover {
	color: #454545;
}

ul.wpdispensary-list li:before {
  color: #454545;
  content: "\f105";
  font-family: 'FontAwesome';
  margin-right: 6px;
  -webkit-font-smoothing: antialiased;
}

/* Shortcodes */

.wpdispensary,
.wpd-menu {
  display: inline-block;
  position: relative;
  width: 100%;
}

.wpdshortcode,
.wpd-menu-item {
  float: left;
  margin: 12px 0;
  position: relative;
  width: 32%;
}

.wpdshortcode:nth-child(3n+3),
.wpd-menu-item:nth-child(3n+2) {
	margin: 12px 2%;
}

.wpdshortcode p,
.wpd-menu-item p.wpd-producttitle,
.wpd-menu-item h2.wpd-producttitle,
.carousel-item h2.wpd-producttitle {
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 12px;
  padding: 0;
}

span.wpd-pricing,
span.wpd-thc,
span.wpd-productinfo {
  color: #AAA;
  font-size: 13px;
  margin-right: 10px;
}

span.wpd-productinfo span.wpd-productinfo.pricing {
	margin-right: 0;
}

h2.wpd-title {
	font-size: 48px;
	text-align: center;
}

span.wp-dispensary-view-all {
    color: #AAA;
    font-size: 16px;
    display: block;
}

span.wp-dispensary-view-all a,
span.wp-dispensary-view-all a:visited {
    color: #AAA;
}

span.wp-dispensary-view-all a:hover {
	color: #454545;
}

/** Tables */

table.wpdispensary-table {
	background: #FFF;
	border-width: 1px;
	font-size: 14px;
	line-height: 1.2;
	margin: 12px 0;
	table-layout: unset;
	width: 100%;
}

table.wpdispensary-table td.wpdispensary-title {
	background: #F1F1F1;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #454545;
	font-weight: 600;
	text-align: center;
}

table.wpdispensary-table td {
	border: 1px solid #DDD;
	padding: 10px;
	width: 50%;
}

table.wpdispensary-table.pricing td {
	color: #76BD1D;
	width: auto;
}

table.wpdispensary-table.pricing td.wpdispensary-title {
	color: #454545;
}

table.wpdispensary-table.pricing tr.priceeach td {
	width: 50%;
}

table.wpdispensary-table.compound-details td {
	width: auto;
}

table.wpdispensary-table td span {
	color: #454545;
	font-weight: 600;
	margin-right: 10px;
}

table.wpdispensary-table.single.details.compound-details td {
    color: #454545;
}

/** Ingredients */

.ingredientlist {
	border: 1px solid #DDD;
	float: left;
	font-size: 15px;
	line-height: 18px;
	margin-top: 24px;
	width: 100%;
}

.ingredientlist span {
	display: inline-block;
	padding: 10px;
}

.ingredientlist strong {
	background: #DDD;
	color: #454545;
	display: block;
	font-weight: 600;
	padding: 10px;
}

.wpdispensary-table.single {
	margin: 24px 0;
}

/* Slider */
.slick-slider
{
	position: relative;

	display: block;
	box-sizing: border-box;

	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;

	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
		touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0 0 24px 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
	-webkit-transform: translate3d(0, 0, 0);
	   -moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		 -o-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
}

.slick-track
{
	position: relative;
	top: 0;
	left: 0;

	display: block;
}
.slick-track:before,
.slick-track:after
{
	display: table;

	content: '';
}
.slick-track:after
{
	clear: both;
}
.slick-loading .slick-track
{
	visibility: hidden;
}

.slick-slide
{
	display: none;
	float: left;

	height: 100%;
	min-height: 1px;
}
[dir='rtl'] .slick-slide
{
	float: right;
}
.slick-slide img
{
	display: block;
}
.slick-slide.slick-loading img
{
	display: none;
}
.slick-slide.dragging img
{
	pointer-events: none;
}
.slick-initialized .slick-slide
{
	display: block;
	position: relative;
}
.slick-loading .slick-slide
{
	visibility: hidden;
}
.slick-vertical .slick-slide
{
	display: block;

	height: auto;

	border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
	display: none;
}

/* Slider */
.slick-loading .slick-list
{
	background: #fff url('ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
	font-family: 'slick';
	font-weight: normal;
	font-style: normal;

	src: url('fonts/slick.eot');
	src: url('fonts/slick.eot?#iefix') format('embedded-opentype'), url('fonts/slick.woff') format('woff'), url('fonts/slick.ttf') format('truetype'), url('fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
	font-size: 0;
	line-height: 0;

	position: absolute;
	top: 50%;

	display: block;

	width: 20px;
	height: 20px;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);

	cursor: pointer;

	color: transparent;
	border: none;
	outline: none;
	background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
	color: transparent;
	outline: none;
	background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
	opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
	opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
	font-family: 'slick';
	font-size: 20px;
	line-height: 1;

	opacity: .75;
	color: black;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
	left: -25px;
}
[dir='rtl'] .slick-prev
{
	right: -25px;
	left: auto;
}
.slick-prev:before
{
	content: '←';
}
[dir='rtl'] .slick-prev:before
{
	content: '→';
}

.slick-next
{
	right: -25px;
}
[dir='rtl'] .slick-next
{
	right: auto;
	left: -25px;
}
.slick-next:before
{
	content: '→';
}
[dir='rtl'] .slick-next:before
{
	content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
	margin-bottom: 30px;
}

.slick-dots {
	position: absolute;
	bottom: -25px;
	display: block;
	width: 100%;
	padding: 24px 0 0 0 !important;
	margin: 0;
	list-style: none;
	text-align: center;
}

.slick-dots li {
	list-style: none;
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.slick-dots li:before,
.slick-dots li:after {
	display: none !important;
}

.slick-dots li button
{
	font-size: 0;
	line-height: 0;

	display: block;

	width: 20px;
	height: 20px;
	padding: 5px;

	cursor: pointer;

	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
	outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
	opacity: 1;
}
.slick-dots li button:before
{
	font-family: 'slick';
	font-size: 6px;
	line-height: 20px;

	position: absolute;
	top: 0;
	left: 0;

	width: 20px;
	height: 20px;

	content: '•';
	text-align: center;

	opacity: .25;
	color: black;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
	opacity: .75;
	color: black;
}

.carousel-item {
	padding: 0 10px;
}

.carousel-item p {
  margin: 12px 0 0 0;
  padding: 0;
}

.carousel-item span.wpd-pricing,
.carousel-item span.wpd-thc,
.carousel-item span.wpd-productinfo {
  color: #AAA;
  font-size: 13px;
  margin-right: 10px;
}

.carousel-item span.wpd-productinfo span.wpd-productinfo.pricing {
    margin-right: 0;
}

.carousel-item span.wpd-topsellers-icon {
    top: 0;
    right: 0;
}

/* Mobile responsive CSS */

@media screen and (max-width: 1199px) {

	.wpdispensary-widget {
		max-width: 31.333%;
		margin: 12px 1%;
	}

}

@media screen and (max-width: 900px) {

	.wpdispensary-widget {
		max-width: 48%;
		margin: 12px 1%;
	}

}

@media screen and (max-width: 600px) {

	.wpdispensary-widget {
		max-width: 98%;
		margin: 12px 1%;
		width: 98%;
	}

	.wpdshortcode,
	.wpdshortcode:nth-child(3n+3) {
		margin: 12px 0;
		width: 100%;
	}

}
