/**
 * Public CSS
 *
 * This file is used to add styles to the public display of the plugin.
 *
 * @link       https://cannabizsoftware.com
 * @since      1.0.0
 *
 * @package    WP_Dispensary
 * @subpackage CannaBiz_Menu/public/css
 */

.wp-embed p {
  display: none;
}

.wp-embed p.wp-embed-heading {
  display: inline-block;
  margin-bottom: 0;
}

p.wpd-wooconnect {
  display: inline-block;
  text-align: center;
  width: 100%;
}

/** Main Table */

table.wpdispensary-table {
  background: #fff;
  border-width: 1px;
  border-collapse: collapse;
  font-size: 14px;
  line-height: 1.2;
  margin: 12px 0;
  table-layout: unset;
  width: 100%;
}

table.wpdispensary-table td.wpdispensary-title {
  background: #f1f1f1;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #454545;
  font-weight: 600;
  text-align: center;
}

table.wpdispensary-table td {
  border: 1px solid #ddd;
  padding: 10px;
  width: 50%;
}

table.wpdispensary-table.pricing td {
  color: #76bd1d;
  width: auto;
}

table.wpdispensary-table.pricing td.wpdispensary-title {
  color: #454545;
}

table.wpdispensary-table.pricing tr.priceeach td {
  width: 50%;
}

table.wpdispensary-table td span {
  color: #454545;
  font-weight: 600;
  margin-right: 10px;
}

.ingredientlist {
  border: 1px solid #ddd;
  float: left;
  font-size: 15px;
  line-height: 18px;
  margin-top: 24px;
  width: 100%;
}

.ingredientlist span {
  display: inline-block;
  padding: 10px;
}

.ingredientlist strong {
  background: #ddd;
  color: #454545;
  display: block;
  font-weight: 600;
  padding: 10px;
}

.wpdispensary-table.single {
  margin: 24px 0;
}
