.wpd-rating {
    height: 42px;
    .star {
        visibility: hidden;
        font-size: 30px;
        cursor: pointer;
        min-width: 30px;
        height: 42px;
    }
    .star:before {
        content: "\2606";
        position: absolute;
        visibility: visible;
        color: #FFD60B;
    }
    .star:checked:before {
        content: "\2605";
        position: absolute;
        color: #FFD60B;
    }
}

p.comment-rating {
    i {
        color: #FFD60B;
        font-size: 18px;
    }
}

span.verified-purchase {
    color: #76bd43;
    display: block;
    margin-top: 6px;
    margin-bottom: 6px !important;
}

.comment-meta {
    .url {
        color: #454545;
    }
}