/** Widget - wrapper */

div.wp-dispensary-widget-product {
  display: inline-block;
  margin: 12px 0;
  max-width: 100%;
  position: relative;
  width: 100%;
  text-align: center;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  span.wpd-productinfo.pricing {
    display: block;
    margin: 0;
  }

  img {
    height: auto;
    margin-bottom: 12px;
    width: 100%;
  }

}

/** Widget - title */

span.wp-dispensary-widget-title {
  font-size: 16px;
  font-weight: $font-semi-bold;
  line-height: 1.2;
}

ul.wp-dispensary-list {

  li {

    img {
      margin-right: 10px;
    }

  }

}

/** Widget - list */

li.wp-dispensary-widget-product {
    display: flex;
    gap: 6px;
    float: left;
    margin-bottom: 6px;
    width: 100%;

    span.wp-dispensary-widget-product-image {
        float: left;
        max-width: 20%;
    }

    span.wp-dispensary-widget-product-name {
        float: left;
        max-width: 80%;

        span.wpd-productinfo.pricing {
        display: block;
        margin: 0;
        }

    }

}

/** Widget - Product Search */
 
.wp-dispensary-product-search form {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;

  input[type="text"],
  input[type="submit"] {
    border-radius: 0;
  }
}

/** Widget - Product - Advanced block style */

.wp-dispensary-widget-product.advanced-block {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
    align-items: center;
    .wp-dispensary-widget-product-image {
        flex-basis: 124px;
    }

    .wp-dispensary-widget-product-content {
        flex: 1;
    }

    .button.wpd-buy-btn {
        display: none;
    }

    .comment-rating {
        margin-top: 0;
    }

    img {
        margin-bottom: 0;
    }
}

/** Widget - Product - Carousel */

.wpd-carousel-widget {
    .wp-dispensary-widget-product.advanced-block {
        img {
            margin-bottom: 12px;
        }
    }
}
