/*!
 * Public CSS
 *
 * This file is used to add styles to the public display of the plugin.
 *
 * @link       https://www.wpdispensary.com
 * @since      1.0.0
 *
 * @package    WP_Dispensary
 * @subpackage WP_Dispensary/public/css
 */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Slick slider
--------------------------------------------------------------*/
@import "variables/variables-site";

/*--------------------------------------------------------------
Tables:
--------------------------------------------------------------*/

@import "tables/tables";

/*--------------------------------------------------------------
Widgets:
--------------------------------------------------------------*/

@import "widgets/widgets";

/*--------------------------------------------------------------
Shortcodes:
--------------------------------------------------------------*/

@import "shortcodes/shortcodes";

/*--------------------------------------------------------------
Slick slider:
--------------------------------------------------------------*/

@import "slick-slider/slick";

/*--------------------------------------------------------------
WP Toolbar:
--------------------------------------------------------------*/

@import "wp-toolbar/wp-toolbar";
