/*!
 * Public CSS
 *
 * This file is used to add styles to the public display of the plugin.
 *
 * @link       https://cannabizsoftware.com
 * @since      1.0.0
 *
 * @package    WP_Dispensary
 * @subpackage CannaBiz_Menu/public/css
 */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Tables
# Widgets
# Shortcodes
# Slick slider
# WP Toolbar
--------------------------------------------------------------*/
@import "variables/variables-site";

/*--------------------------------------------------------------
Tables:
--------------------------------------------------------------*/

@import "tables/tables";

/*--------------------------------------------------------------
Widgets:
--------------------------------------------------------------*/

@import "widgets/widgets";

/*--------------------------------------------------------------
Shortcodes:
--------------------------------------------------------------*/

@import "shortcodes/shortcodes";

/*--------------------------------------------------------------
Prouducts:
--------------------------------------------------------------*/

@import "products/reviews";

/*--------------------------------------------------------------
Slick slider:
--------------------------------------------------------------*/

@import "slick-slider/slick";

/*--------------------------------------------------------------
WP Toolbar:
--------------------------------------------------------------*/

@import "wp-toolbar/wp-toolbar";

/*--------------------------------------------------------------
Warning:
--------------------------------------------------------------*/

@import "products/warning";
