/**
 * Admin CSS
 *
 * This file is used to add styles to the admin pages of each custom post type.
 *
 * @link       https://www.wpdispensary.com
 * @since      1.0.0
 *
 * @package    WP_Dispensary
 * @subpackage WP_Dispensary/admin/css
 */

#wpdispensary_prices .inside,
#wpdispensary_concentrateprices .inside,
#wpdispensary_compounds .inside,
#wpdispensary_clonedetails .inside,
#wpdispensary_thc_cbd_mg .inside {
    overflow: auto;
}

#wpdispensary_prices .inside .pricebox {
	float: left;
	position: relative;
	width: 100%;
}

#postbox-container-2 #wpdispensary_prices .inside .pricebox {
	float: left;
	margin: 10px 1%;
	position: relative;
	width: 18%;
}

#wpdispensary_concentrateprices .inside .pricebox {
	float: left;
	position: relative;
	width: 100%;
}

#postbox-container-2 #wpdispensary_concentrateprices .inside .pricebox {
	float: left;
	margin: 10px 1%;
	position: relative;
	width: 23%;
}

#wpdispensary_compounds .inside .compoundbox {
	float: left;
	position: relative;
	width: 100%;
}

#postbox-container-2 #wpdispensary_compounds .inside .compoundbox {
    width: 18%;
    float: left;
    margin: 0 1%;
}

#wpdispensary_clonedetails .inside .growerbox {
	float: left;
	position: relative;
	width: 100%;
}

#postbox-container-2 #wpdispensary_clonedetails .inside .growerbox {
	float: left;
	margin: 10px 1%;
	position: relative;
	width: 23%;
}


#wpdispensary_thc_cbd_mg .inside .ediblebox {
	float: left;
	position: relative;
	width: 100%;
}

#postbox-container-2 #wpdispensary_thc_cbd_mg .inside .ediblebox {
	float: left;
	margin: 10px 1%;
	position: relative;
	width: 23%;
}


#dashboard_right_now .flowers-count a:before,
#dashboard_right_now .flowers-count span:before,
#dashboard_right_now .edibles-count a:before,
#dashboard_right_now .edibles-count span:before,
#dashboard_right_now .concentrates-count a:before,
#dashboard_right_now .concentrates-count span:before,
#dashboard_right_now .prerolls-count a:before,
#dashboard_right_now .prerolls-count span:before,
#dashboard_right_now .topicals-count a:before,
#dashboard_right_now .topicals-count span:before,
#dashboard_right_now .growers-count a:before,
#dashboard_right_now .growers-count span:before {
    background: url(../images/glance-icon.png) no-repeat 2px 0px;
    content: "";
    height: 20px;
    padding-right: 25px;
}

.toplevel_page_wpdispensary #adminmenu div.wp-menu-image:before {
    background: url(../images/menu-icon.png) no-repeat 2px 0px;
    content: "";
    height: 36px;
    padding-right: 36px;
}

.menu-top .toplevel_page_wpd-settings .wp-menu-image.dashicons-before {
    background: url(../images/menu-icon.png) no-repeat center center;
    opacity: 0.6;
}

#toplevel_page_wpd-settings:hover .wp-menu-image.dashicons-before,
.current.menu-top .toplevel_page_wpd-settings .wp-menu-image.dashicons-before {
    background: url(../images/menu-icon.png) no-repeat center center;
    opacity: 1;
}


/**
 * Featured image in menu items list
 */
th#featured_thumb {
	width: 40px;
	text-align: center;
}

#featured_thumb span.wpd-admin-screen-featured-image-title {
	display: none;
}

/**
 * Settings page
 */
.wpd-settings-wrap img {	
	width: 240px;	
	max-width: 420px;	
}

/* Widget styles
-------------------------------------------------------------- */

div.widget[id*=_wpdispensary_] .widget-top,
div.widget[id*=_wpdispensary_] .widget-top:hover {
	border-color: #76bd43;
}

div.widget[id*=_wpdispensary_] .widget-title,
div.widget[id*=_wpdispensary_] .widget-title h3 {
	background: #76bd43;
	color: #FFF;
}

div.widget[id*=_wpdispensary_] .widget-title .in-widget-title {
	color: rgba(255,255,255,0.6);
}

div.widget[id*=_wpdispensary_] .widget-action {
	color: #FFF;
}
