/**
 * Admin CSS
 *
 * This file is used to add styles to the admin pages of each custom post type.
 *
 * @link       https://www.wpdispensary.com
 * @since      1.0.0
 *
 * @package    WP_Dispensary
 * @subpackage WP_Dispensary/admin/css
 */

/** Metaboxes */
#wpdispensary_prices .inside,
#wpdispensary_singleprices .inside,
#wpdispensary_topicalprices .inside,
#wpdispensary_concentrateprices .inside,
#wpdispensary_compounds .inside,
#wpdispensary_clonedetails .inside,
#wpdispensary_thc_cbd_mg .inside,
#wpdispensary_thccbdtopical .inside,
#wpdispensary_grower_product_details .inside {
    overflow: auto;
}

#wpdispensary_prices .inside .pricebox {
	float: left;
	position: relative;
	width: 100%;
}

#postbox-container-2 #wpdispensary_prices .inside .pricebox {
	float: left;
	margin: 10px 1%;
	position: relative;
	width: 12.27%;
}

@media screen and (max-width: 767px) {
	#postbox-container-2 #wpdispensary_prices .inside .pricebox {
		width: 23%;
	}
}

#wpdispensary_singleprices .inside .pricebox,
#wpdispensary_topicalprices .inside .pricebox {
	float: left;
	position: relative;
	width: 100%;
}

#postbox-container-2 #wpdispensary_topicalprices .inside .pricebox,
#postbox-container-2 #wpdispensary_singleprices .inside .pricebox {
	float: left;
	margin: 10px 1%;
	position: relative;
	width: 31.333%;
}

#wpdispensary_concentrateprices .inside .pricebox {
	float: left;
	position: relative;
	width: 100%;
}

#postbox-container-2 #wpdispensary_concentrateprices .inside .pricebox {
	float: left;
	margin: 10px 1%;
	position: relative;
	width: 23%;
}

#wpdispensary_compounds .inside .compoundbox {
	float: left;
	position: relative;
	width: 100%;
}

#postbox-container-2 #wpdispensary_compounds .inside .compoundbox {
    width: 12.25%;
    float: left;
    margin: 0 1%;
}

@media screen and (max-width: 768px) {
	#postbox-container-2 #wpdispensary_compounds .inside .compoundbox {
		width: 23%;
		float: left;
		margin: 0 1%;
	}
	#postbox-container-2 #wpdispensary_compounds .inside .compoundbox:last-child {
		width: 48%;
	}
}

#wpdispensary_grower_product_details .inside .growerbox,
#wpdispensary_clonedetails .inside .growerbox {
	float: left;
	position: relative;
	width: 100%;
}

#postbox-container-2 #wpdispensary_clonedetails .inside .growerbox {
	float: left;
	margin: 10px 1%;
	position: relative;
	width: 23%;
}

@media screen and (max-width: 767px) {
	#postbox-container-2 #wpdispensary_clonedetails .inside .growerbox {
		width: 48%;
	}
}

#postbox-container-2 #wpdispensary_grower_product_details .inside .growerbox {
	float: left;
	margin: 10px 1%;
	position: relative;
	width: 48%;
}

#wpdispensary_thc_cbd_mg .inside .ediblebox {
	float: left;
	position: relative;
	width: 100%;
}

#postbox-container-2 #wpdispensary_thc_cbd_mg .inside .ediblebox {
	float: left;
	margin: 10px 1%;
	position: relative;
	width: 23%;
}

@media screen and (max-width: 767px) {
	#postbox-container-2 #wpdispensary_thc_cbd_mg .inside .ediblebox {
		width: 48%;
	}
}

#wpdispensary_thccbdtopical .inside .topicalbox {
	float: left;
	position: relative;
	width: 100%;
}

#postbox-container-2 #wpdispensary_thccbdtopical .inside .topicalbox {
	float: left;
	margin: 10px 1%;
	position: relative;
	width: 31.333%;
}

/** Metaboxes `select` width */

select#selected_flowers,
select#selected_concentrates,
select#selected_edibles,
select#selected_prerolls,
select#selected_topicals,
select#selected_growers,
select#selected_gear,
select#selected_tinctures {
    width: 100%;
}

/** Dashboard icons */

#dashboard_right_now .flowers-count a:before,
#dashboard_right_now .flowers-count span:before,
#dashboard_right_now .edibles-count a:before,
#dashboard_right_now .edibles-count span:before,
#dashboard_right_now .concentrates-count a:before,
#dashboard_right_now .concentrates-count span:before,
#dashboard_right_now .prerolls-count a:before,
#dashboard_right_now .prerolls-count span:before,
#dashboard_right_now .topicals-count a:before,
#dashboard_right_now .topicals-count span:before,
#dashboard_right_now .growers-count a:before,
#dashboard_right_now .growers-count span:before,
#dashboard_right_now .gear-count a:before,
#dashboard_right_now .gear-count span:before,
#dashboard_right_now .tinctures-count a:before,
#dashboard_right_now .tinctures-count span:before,
#dashboard_right_now .coupons-count a:before,
#dashboard_right_now .coupons-count span:before {
    background: url(../images/glance-icon.png) no-repeat 2px 0px;
    content: "";
    height: 20px;
    padding-right: 25px;
}

.toplevel_page_wpdispensary #adminmenu div.wp-menu-image:before {
    background: url(../images/menu-icon.png) no-repeat 2px 0px;
    content: "";
    height: 36px;
    padding-right: 36px;
}

.menu-top .toplevel_page_wpd-settings .wp-menu-image.dashicons-before {
    background: url(../images/menu-icon.png) no-repeat center center;
    opacity: 0.6;
}

#toplevel_page_wpd-settings:hover .wp-menu-image.dashicons-before,
.current.menu-top .toplevel_page_wpd-settings .wp-menu-image.dashicons-before {
    background: url(../images/menu-icon.png) no-repeat center center;
    opacity: 1;
}


/**
 * Featured image in menu items list
 */
th#featured_thumb {
	width: 40px;
	text-align: center;
}

.manage-column.column-featured_thumb {
  text-align: center;
}

#featured_thumb span.wpd-admin-screen-featured-image-title,
.wpd-admin-screen-featured-image-title {
	display: none;
}

/**
 * Settings page
 */
.wpd-settings-wrap img {
	width: 280px;
	max-width: 280px;
}

.wpd-settings-separator {
	background: #ccc;
	border: 0;
	color: #ccc;
	height: 1px;
	position: absolute;
	left: 0;
	width: 100%;
	max-width: 100%;
}

.metabox-holder .group form h2:first-of-type {
	display: none;
}

.metabox-holder .group .form-table h1 {
	font-weight: 600;
	font-size: 18px;
	padding: 0;
}

.metabox-holder .group .form-table h1:after {
    content: '';
    display: block;
    clear: both;
    width: 24px;
    height: 3px;
    background: #ccc;
    margin-top: 0px;
}

.wrap.wpd-settings-wrap {
    position: relative;
}

.wrap.wpd-settings-wrap h1.settings-logo {
	position: relative;
}

.wrap.wpd-settings-wrap span.wpd-settings-version {
	color: #AAA;
	font-size: 50%;
	margin-left: 10px;
	position: absolute;
	top: 23px;
}

.metabox-holder .group form select {
    min-width: 25em;
}

.group .form-table input.color-picker {
	max-width: 100px;
}

@media screen and (max-width: 782px) {
	.pricebox input[type=number] {
		height: auto;
	}
}

/* Widget styles
-------------------------------------------------------------- */

div.widget[id*=_wp_dispensary_] .widget-top,
div.widget[id*=_wp_dispensary_] .widget-top:hover {
	border-color: #76bd43;
}

div.widget[id*=_wp_dispensary_] .widget-title,
div.widget[id*=_wp_dispensary_] .widget-title h3 {
	background: #76bd43;
	color: #FFF;
}

div.widget[id*=_wp_dispensary_] .widget-title .in-widget-title {
	color: rgba(255,255,255,0.6);
}

div.widget[id*=_wp_dispensary_] .widget-action {
	color: #FFF;
}

/* View All screen (mobile table layout)
-------------------------------------------------------------- */

@media screen and (max-width: 782px) {
	.wp-list-table tr.type-flowers:not(.inline-edit-row):not(.no-items) td:not(.check-column),
	.wp-list-table tr.type-concentrates:not(.inline-edit-row):not(.no-items) td:not(.check-column),
	.wp-list-table tr.type-edibles:not(.inline-edit-row):not(.no-items) td:not(.check-column),
	.wp-list-table tr.type-prerolls:not(.inline-edit-row):not(.no-items) td:not(.check-column),
	.wp-list-table tr.type-topicals:not(.inline-edit-row):not(.no-items) td:not(.check-column),
	.wp-list-table tr.type-growers:not(.inline-edit-row):not(.no-items) td:not(.check-column),
	.wp-list-table tr.type-gear:not(.inline-edit-row):not(.no-items) td:not(.check-column),
	.wp-list-table tr.type-tinctures:not(.inline-edit-row):not(.no-items) td:not(.check-column) {
	    display: table-cell;
	}

	.wp-list-table tr:not(.inline-edit-row):not(.no-items) td.featured_thumb:not(.column-primary)::before {
		display: none;
	}
}

/** Admin post type screens
-------------------------------------------------------------- */

body.post-type-flowers,
body.post-type-concentrates,
body.post-type-edibles,
body.post-type-topicals,
body.post-type-prerolls,
body.post-type-growers,
body.post-type-gear,
body.post-type-tinctures,
body.post-type-coupons {
    background: #FFF;
}

body.post-type-flowers table.posts,
body.post-type-concentrates table.posts,
body.post-type-edibles table.posts,
body.post-type-topicals table.posts,
body.post-type-prerolls table.posts,
body.post-type-growers table.posts,
body.post-type-gear table.posts,
body.post-type-tinctures table.posts,
body.post-type-coupons table.posts {
	margin-top: 12px;
}

body.post-type-flowers table thead,
body.post-type-flowers table tfoot,
body.post-type-concentrates table thead,
body.post-type-concentrates table tfoot,
body.post-type-edibles table thead,
body.post-type-edibles table tfoot,
body.post-type-topicals table thead,
body.post-type-topicals table tfoot,
body.post-type-prerolls table thead,
body.post-type-prerolls table tfoot,
body.post-type-growers table thead,
body.post-type-growers table tfoot,
body.post-type-gear table thead,
body.post-type-gear table tfoot,
body.post-type-tinctures table thead,
body.post-type-tinctures table tfoot,
body.post-type-coupons table thead,
body.post-type-coupons table tfoot {
    background: #F7F7F7;
}

body.post-type-flowers .alternate,
body.post-type-flowers .striped>tbody>:nth-child(odd),
body.post-type-flowers ul.striped>:nth-child(odd),
body.post-type-concentrates .alternate,
body.post-type-concentrates .striped>tbody>:nth-child(odd),
body.post-type-concentrates ul.striped>:nth-child(odd),
body.post-type-edibles .alternate,
body.post-type-edibles .striped>tbody>:nth-child(odd),
body.post-type-edibles ul.striped>:nth-child(odd),
body.post-type-topicals .alternate,
body.post-type-topicals .striped>tbody>:nth-child(odd),
body.post-type-topicals ul.striped>:nth-child(odd),
body.post-type-prerolls .alternate,
body.post-type-prerolls .striped>tbody>:nth-child(odd),
body.post-type-prerolls ul.striped>:nth-child(odd),
body.post-type-growers .alternate,
body.post-type-growers .striped>tbody>:nth-child(odd),
body.post-type-growers ul.striped>:nth-child(odd),
body.post-type-gear .alternate,
body.post-type-gear .striped>tbody>:nth-child(odd),
body.post-type-gear ul.striped>:nth-child(odd),
body.post-type-tinctures .alternate,
body.post-type-tinctures .striped>tbody>:nth-child(odd),
body.post-type-tinctures ul.striped>:nth-child(odd),
body.post-type-coupons .alternate,
body.post-type-coupons .striped>tbody>:nth-child(odd),
body.post-type-coupons ul.striped>:nth-child(odd) {
	background: #FFF;
}

tr.type-flowers td, tr.type-flowers th,
tr.type-concentrates td, tr.type-concentrates th,
tr.type-edibles td, tr.type-edibles th,
tr.type-topicals td, tr.type-topicals th,
tr.type-prerolls td, tr.type-prerolls th,
tr.type-growers td, tr.type-growers th,
tr.type-gear td, tr.type-gear th,
tr.type-tinctures td, tr.type-tinctures th,
tr.type-coupons td, tr.type-coupons th {
    border-bottom: 1px solid #DDD;
}

body.post-type-flowers .search-box input[type="search"],
body.post-type-concentrates .search-box input[type="search"],
body.post-type-edibles .search-box input[type="search"],
body.post-type-topicals .search-box input[type="search"],
body.post-type-prerolls .search-box input[type="search"],
body.post-type-growers .search-box input[type="search"],
body.post-type-gear .search-box input[type="search"],
body.post-type-tinctures .search-box input[type="search"],
body.post-type-coupons .search-box input[type="search"] {
    min-height: 26px;
    line-height: 1.92;
}
